.product-identifier {
    color: #606060;
    font-family: 'Poppins Light';
    font-size: 13px;
}

:global(.vtex-product-identifier-0-x-product-identifier__label) {
    visibility: hidden;
}

:global(.vtex-product-identifier-0-x-product-identifier__label)::before {
    visibility: visible;
    content: "CÓDIGO";
    margin-right: -65px;
}