@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

.wishlistIconContainer--whish-product {
  position: relative !important;
  margin-left: auto;
  width: 510px !important;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
}

.wishlistIconContainer--whish-vitrina {
  position: absolute;
  margin-left: auto;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.outline {
  background: url(/arquivos/corazon-2.svg) no-repeat !important;
}

.wishlistIconContainer--whish-product :global(.vtex-button__label) {
  padding: 0px 7px !important;
  background: rgba(255, 255, 255, 0.61);
  height: 30px;
  margin-top: -8px;
}

.wishlistIconContainer--whish-product :global(.vtex-button) {
  border: unset;
}
