@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.availabilityMessageText {
    font-family: 'Noto Sans JP';
    font-weight: 200;
    font-size: 13px;
}

.productListUnavailableItemsMessage {
    font-family: 'Noto Sans JP';
    font-weight: 200;
    font-size: 14px;
}

.productBrandName {
    font-family: 'Noto Sans JP';
    font-weight: 200;
}

.productName {
    font-family: 'Noto Sans JP';
    font-weight: 200;
    font-size: 14px;
}