@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.summarySmallContent {
    font-family: 'Noto Sans JP';
    font-weight: 200;
}

.price {
    color: #E13637;
}

.summarySmallDisclaimer {
    font-family: 'Noto Sans JP';
    font-weight: 200;
}

.summaryItemLabel {
    font-family: 'Noto Sans JP';
    font-weight: 200;
}