@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
.term {
    color: #C90512;
    font-family: 'Source Sans Pro';
}

.homeIcon {
    width: 0;
    visibility: hidden;
}

.homeLink::before {
    visibility: visible;
    content: "Home";
    padding-right: 5px;
}

.homeLink {
    align-items: center;
    display: contents;
}

.arrow {
    padding: 0;
}

.container {
    font-family: 'Source Sans Pro';
    font-size: 11px;
}

.arrow, .link {
    color: black;
}

.link:hover {
    color: #C90512;
}

.link {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
}

.container {
    font-size: 13px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
}

@media screen and (max-width: 768px){
    .container--breadcrumb {
        margin-top: -20px;
        margin-bottom: 5px;
    }
}