@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
.product-identifier {
    color: #606060;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 12px;
}

:global(.vtex-product-identifier-0-x-product-identifier__label) {
    visibility: hidden;
}

:global(.vtex-product-identifier-0-x-product-identifier__label)::before {
    visibility: visible;
    content: "CÓDIGO ";
    margin-right: -65px;
}

.product-identifier__separator {
    margin-left: 6px;
}