@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700;900&family=Poppins:wght@300;400;700;900&display=swap');
.term--breadcrumb {
    color: #C90512;
    font-family: 'Noto Sans JP';
}

.container--breadcrumb {
    font-family: 'Noto Sans JP';
    font-size: 11px;
}

.arrow, .link {
    color: black;
}

.link:hover {
    color: #C90512;
}

.link {
    font-family: 'Noto Sans JP';
}

.container {
    font-size: 13px;
    font-family: 'Noto Sans JP';
}