.link :hover {
    color: #C90512;
}

/* HEADER */
.paragraph--contacto-top {
    margin: 0;
    margin-left: 10px;
    font-size: 12px;
}

.link--contacto-top {
    text-decoration: none;
    color: #606060;
}

/* HOME */
.container--titulo-shelf {
    width: 95%;
    margin: auto;
}

.paragraph--titulo-shelf {
    font-family: 'Poppins Bold';
    font-size: 19px;
    color: black;
    border-bottom: solid #C90512;
}

.strong--titulo-sale {
    font-size: 30px;
    color: black;
    font-family: 'Poppins';
}

.paragraph--titulo-sale {
    font-family: 'Poppins';
    font-size: 13px;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
}

.link--sale-ver-mas {
    text-decoration: underline;
    color: black;
    font-family: 'Poppins';
    font-size: 14px;
}

.container--titulo-sale {
    margin-top: 40px;
}

/* FOOTER */
.strong--footer-newsletter-text {
    font-family: 'Poppins Bold';
    font-size: 30px;
    color: black;
}

.paragraph--footer-newsletter-text {
    margin: 0;
}

.paragraph--footer-newsletter-text {
    font-family: 'Poppins';
    color: #606060;
    font-size: 15px;
}

.paragraph--titulo-footer {
    margin-left: 1.5rem;
    color: white;
    font-family: 'Poppins';
}

.link--footer-contacto {
    color: #dad9d9;
    font-family: 'Poppins';
    font-size: 11px;
    margin-left: 10px;
}

.paragraph--footer-contacto {
    margin: 0;
}