/* HEADER */
.flexRowContent--top-header {
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    background: black;
}

.flexRowContent--contacto-top {
    margin-left: 10px;
}

.flexRow--header-main {
    background: white;
}

.flexColChild--col-submenu {
    margin: 5px 0;
}

/* HOME */
.flexRowContent--info-item-home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexRowContent--info-home {
    width: 95%;
    margin: auto;
}

.flexRow--categorias {
    width: 95%;
    margin: auto;
}

.flexRowContent--row-inspiracion {
    display: flex;
    justify-content: center;
}

.flexColChild--row-price-shelf {
    display: flex;
    margin-left: 9px;
    font-family: 'Poppins';
    color: #606060;
    font-size: 13px;
}

.flexRowContent--row-price-shelf {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

/* FOOTER */
.flexRowContent--footer-bottom {
    display: flex;
    align-items: center;
}

.flexRow--footer-news {
    border-top: solid 1px #606060;
    border-bottom: solid 1px #606060;
    margin-top: 40px;
}

.flexRow--footer-general {
    background: #606060;
}

.flexRowContent--footer-general {
    padding: 60px 0;
    width: 95%;
    margin: auto;
}

.flexRowContent--footer-row-contacto {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.flexRow--row-footer-rrss {
    margin-bottom: 20px;
    margin-left: 1.5rem;
}

.flexRow--footer-general-fila-2 {
    margin-top: 25px;
}

/* PRODUCTO */
.flexRow--row-button {
    margin-top: 20px;
}

.flexRowContent--row-price {
    display: block;
}

.flexRow--row-price {
    margin: 10px 0;
}

.flexCol--product-lef-col {
    margin-left: 40px;
}

.flexRow--producto-main {
    width: 95%;
    margin: auto;
}

.flexRow--breadcrumb {
    width: 95%;
    margin: auto;
}