@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
/* HEADER */
.imageElement--image-top-header {
    margin-left: 10px;
}

.logoContainer--logo {
    display: flex;
    padding: 0!important;
    align-items: center;
}

/* HOME */
.imageElement--image-info {
    margin-right: 20px;
}

.imageElement--imagen-inspiracion {
    margin-bottom: -4px;
}

.imageElementLink--imagen-marcas {
    margin: auto;
    display: table;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 1280px;
}

.infoCardContainer--info-card-showroom {
    margin-top: 40px!important;
    margin-bottom: 40px!important;
    max-width: 1280px;
    margin: auto;
}

.infoCardHeadline--info-card-showroom {
    font-family: 'Poppins';
    font-weight: 600;   
    color: black;
    letter-spacing: 2px;
    font-size: 34px;
}

.infoCardSubhead--info-card-showroom {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    color: black;
    font-size: 17px;
    width: 75%;
}

.price_sellingPrice--product-price-vitrina {
    padding: 0;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 17px;
    color: black;
}

.discountInsideContainer {
    font-family: 'Source Sans Pro';
    background: #C90512;
    position: absolute;
    left: 0px;
    top: 15px;
    right: 78%;
    transform: rotate(270deg);
}

.imageElementLink--footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageElementLink--footer-partner {
    margin-right: 10px;
}

.imageElementLink--footer-rrss {
    margin-right: 10px;
}

.container--newsletter {
    padding: 0;
}

.buttonContainer--newsletter ::global(.vtex-button__label) {
    font-size: 24px!important;
    padding: 12px!important;
}

.inputGroup--newsletter ::global(.vtex-input-prefix__group) {
    border: unset!important;
}

.buttonContainer--newsletter {
    padding: 0;
}

.imageElementLink--imagen-contacto {
    align-items: center;
    display: flex;
}

.infoCardImageContainer--info-card-showroom {
    margin-top: 20px;
}

.imageElementLink--imagen-categoria {
    display: flex;
    justify-content: center;
}

.imageElement--imagen-submenu {
    min-width: 250px;
    max-height: 300px;
}

.inputGroup--newsletter {
    display: flex;
}

.form--newsletter {
    padding: 0;
}

.imageElementLink--imagen-categoria-cocina::after {
    content: "COCINA";
    position: relative;
    left: 34%;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    top: -15%;
    height: fit-content;
    color: #fff;
}

.imageElementLink--imagen-categoria-bano::after {
    content: "BAÑO";
    position: relative;
    left: 39%;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    top: -15%;
    height: fit-content;
    color: #fff;
}

.imageElementLink--imagen-categoria-estar::after {
    content: "SALA DE ESTAR";
    position: relative;
    left: 23%;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    top: -15%;
    height: fit-content;
    color: #fff;
}

.imageElementLink--imagen-categoria-dormitorio::after {
    content: "DORMITORIO";
    position: relative;
    left: 25%;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    top: -15%;
    height: fit-content;
    color: #fff;
}

.imageElementLink--imagen-categoria-exterior::after {
    content: "EXTERIOR";
    position: relative;
    left: 34%;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    top: -15%;
    height: fit-content;
    color: #fff;
}

.imageElementLink--imagen-categoria-publicos::after {
    content: "RECINTOS PUBLICOS";
    position: relative;
    left: 11%;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    top: -15%;
    height: fit-content;
    color: #fff;
}

.imageElementLink--imagen-categoria-cocina:hover::after, .imageElementLink--imagen-categoria-bano:hover::after, .imageElementLink--imagen-categoria-estar:hover::after, .imageElementLink--imagen-categoria-dormitorio:hover::after, .imageElementLink--imagen-categoria-exterior:hover::after, .imageElementLink--imagen-categoria-publicos:hover::after {
    color: black;
    border-bottom: solid 2px red;
    text-align: center;
    width: fit-content;
    display: block;
    justify-content: center;
}

.imageElementLink--imagen-categoria-cocina-mobile::after {
    content: "COCINA";
    position: relative;
    left: 5%;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    top: -25%;
    height: fit-content;
    color: #fff;
}

.imageElementLink--imagen-categoria-bano-mobile::after {
    content: "BAÑO";
    position: relative;
    left: 5%;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    top: -25%;
    height: fit-content;
    color: #fff;
}

.imageElementLink--imagen-categoria-estar-mobile::after {
    content: "SALA DE ESTAR";
    position: relative;
    left: 5%;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    top: -25%;
    height: fit-content;
    color: #fff;
}

.imageElementLink--imagen-categoria-dormitorio-mobile::after {
    content: "DORMITORIO";
    position: relative;
    left: 5%;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    top: -25%;
    height: fit-content;
    color: #fff;
}

.imageElementLink--imagen-categoria-exterior-mobile::after {
    content: "EXTERIOR";
    position: relative;
    left: 5%;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    top: -25%;
    height: fit-content;
    color: #fff;
}

.imageElementLink--imagen-categoria-publicos-mobile::after {
    content: "RECINTOS PUBLICOS";
    position: relative;
    left: 5%;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    top: -25%;
    height: fit-content;
    color: #fff;
}

.imageElementLink--imagen-categoria-cocina, .imageElementLink--imagen-categoria-bano, .imageElementLink--imagen-categoria-estar, .imageElementLink--imagen-categoria-dormitorio, .imageElementLink--imagen-categoria-exterior, .imageElementLink--imagen-categoria-publicos {
    display: block;
    justify-content: center;
    text-decoration: none;
}

.imageElementLink--imagen-inspiracion:hover {
    filter: contrast(0.5);
}

.imageElementLink--new-arrival-mobile {
    margin-left: 2%;
}

@media screen and (max-width: 768px) {
    .imageElement--image-info {
        margin-right: 0;
    }
}

.inputGroup--newsletter ::global(.vtex-input-prefix__group) {
    border: unset!important;
}

/* PRODUCTO */
.price_sellingPrice--product-price {
    padding: 0;
    display: flex;
}

.currencyContainer--product-price {
    font-family: 'Poppins';
    font-weight: 700;
    color: black;
    font-size: 27px;
}

.productDescriptionTitle {
    display: none;
}

.productBrandName--marca-product {
    color: #d8d7d5;
    letter-spacing: 0.5px;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 20px;
}

.productBrandContainer--marca-product {
    margin-bottom: 5px;
}

.productBrand--product-name {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 30 px;
    text-transform: uppercase;
}

.productBrand--product-name::after {
    border-bottom: solid 4px #C90512;
    width: 75px;
    content: "";
    display: block;
    margin-top: 7px;
}

.productNameContainer--product-name {
    margin-bottom: 20px;
}

.product-identifier--productReference {
    font-family: 'Source Sans Pro';
    font-size: 12px;
    color: #606060;
}

.productDescriptionContainer {
    margin-top: 60px;
    margin-bottom: 20px;
}

.productDescriptionText {
    color: black;
    font-family: 'Source Sans Pro';
    font-size: 13px;
}

.carouselContainer--image-producto {
    border: solid 1px;
}

.shippingContainer {
    border-top: solid 2px;
    border-bottom: solid 2px;
    padding: 20px 0;
    width: 70%;
}

.showMoreButton--specifications-product {
    color: #C90512;
    background: none;
    border: solid 1px black;
    padding: 4px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Source Sans Pro';
}

.subscriberContainer {
    margin-top: 50px;
}

.subscriberContainer .form {
    margin-top: 20px;
}

.subscriberContainer .form .content {
    display: contents;
}

.subscriberContainer .title {
    font-size: 14px;
}

.specificationsTableContainer--specifications-product {
    padding: 0;
    margin-top: 50px;
    color: black;
    width: 100%;
}

.specificationsTablePropertyHeading--specifications-product, .specificationsTableSpecificationHeading--specifications-product {
    color: black;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    border: none;
}

.specificationsTableRow--specifications-product {
    border-bottom: solid 1px #a0a0a0!important;
    display: flex;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 14px;
}

.specificationsTitle--specifications-product {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
}

.specificationItemProperty--specifications-product, .specificationItemSpecifications--specifications-product, .specificationsTablePropertyHeading--specifications-product, .specificationsTableSpecificationHeading--specifications-product {
    padding: 0.2rem;
}

.container--specifications-product {
    border-top: solid 1px black;
}

.productBrandContainer--marca-product-shelf {
    justify-content: initial;
    display: flex;
    width: 94%;
    margin: auto;
    margin-bottom: 0;
    margin-top: 10px;
}

.productBrandName--marca-product-shelf {
    text-align: initial;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 12px;
    color: #919292;
    text-transform: uppercase;
    padding: 2px;
}

/* HEADER */
.searchBarInnerContainer--search-desktop {
    width: 600px;
}

.imageElementLink--menu-inspiracion {
    margin-left: 13px;
}

.autoCompleteOuterContainer--search-mobile-drawer {
    width: 95%;
    margin: auto;
}

.searchBarContainer {
    padding-top: 0;
    padding-bottom: 0;
}

::global(.flexColChild--col-form .vtex-input-prefix__group), ::global(.flexColChild--col-form .vtex-textarea__input), ::global(.flexColChild--col-form .vtex-dropdown__container) {
    border-radius: 0!important;
    border: solid 1px black!important;
}

.imageElement--imagen-destacados {
    max-height: 680px;
}

::global(.vtex-styleguide-9-x-container.vtex-dropdown__container), ::global(.vtex-textarea__input) {
    border-radius: 0;
    border: solid 1px;
}

::global(textarea#\#\/properties\/mensaje-textarea-input){
    border: solid 1px #000
}