@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
.containerNormal--product-summary {
    border: solid 1px #d2cfcf;
    border-radius: 0;
    padding: 5px;
}

.productBrandName {
    font-family: 'Noto Sans JP';
    font-weight: 400;
    border: solid 1px;
    padding: 0 4px;
    font-size: 9px;
    margin-left: 9px;
}

.productBrandLogo {
    height: 40px!important;
}

.productBrandLogoWrapper {
    height: 40px!important;
    margin-left: 10px;
}

.productBrandContainer {
    display: flex;
}

.nameContainer {
    padding-top: 1px;
    display: flex;
    justify-content: end;
    margin-left: 9px;
    padding-bottom: 15px;
}

.brandName {
    font-family: 'Noto Sans JP';
    font-weight: 400;
    font-size: 14px;
    color: black;
}

.element {
    padding-bottom: 0;
}

.nameWrapper {
    display: flex;
    text-align: initial;
}