/* HEADER */
.imageElement--image-top-header {
    margin-left: 10px;
}

/* HOME */
.imageElement--image-info {
    margin-right: 8px;
}

.imageElement--imagen-inspiracion {
    margin-bottom: -4px;
}

.imageElementLink--imagen-marcas {
    margin: auto;
    display: table;
    margin-top: 40px;
    margin-bottom: 40px;
}

.infoCardContainer--info-card-showroom {
    margin-top: 40px;
    margin-bottom: 40px;
}

.infoCardHeadline--info-card-showroom {
    font-family: 'Poppins Light';
    color: black;
    letter-spacing: 2px;
    font-size: 34px;
}

.infoCardSubhead--info-card-showroom {
    font-family: 'Poppins';
    color: black;
    font-size: 17px;
    width: 75%;
}

.price_sellingPrice--product-price-vitrina {
    padding: 0;
    font-family: 'Poppins Bold';
    font-size: 17px;
    color: black;
}

.discountInsideContainer {
    font-family: 'Poppins';
    background: #C90512;
    position: absolute;
    left: 0px;
    top: 15px;
    right: 78%;
    transform: rotate(270deg);
}

.imageElementLink--footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageElementLink--footer-partner {
    margin-right: 10px;
}

.imageElementLink--footer-rrss {
    margin-right: 10px;
}

.imageElementLink--imagen-contacto {
    align-items: center;
    display: flex;
}

.infoCardImageContainer--info-card-showroom {
    margin-top: 20px;
}

/* PRODUCTO */
.price_sellingPrice--product-price {
    padding: 0;
    display: flex;
}

.currencyContainer--product-price {
    font-family: 'Poppins Bold';
    color: black;
    font-size: 23px;
}

.productDescriptionTitle {
    display: none;
}

.productBrandName--marca-product {
    color: #606060;
    letter-spacing: 0.5px;
    font-family: 'Poppins';
}

.productBrandContainer--marca-product {
    margin-bottom: 10px;
}

.productBrand--product-name {
    font-family: 'Poppins Bold';
    font-size: 22px;
    border-bottom: solid #C90512;
}

.productNameContainer--product-name {
    margin-bottom: 30px;
}

.product-identifier--productReference {
    font-family: 'Poppins';
    font-size: 12px;
    color: #606060;
}

.productDescriptionContainer {
    margin-top: 10px;
    margin-bottom: 20px;
}

.productDescriptionText {
    color: black;
    font-family: 'Poppins';
    font-size: 13px;
}

.carouselContainer--image-producto {
    border: solid 1px;
}

.shippingContainer {
    margin-top: 40px;
}