@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700;900&family=Poppins:wght@300;400;700;900&display=swap');
.triggerContainer--modal-glosario {
    margin: auto;
    text-align: center;
    justify-content: center;
    display: flex;
}

.paperScrollContent {
    width: 60%;
}