.summarySmallContent {
    font-family: 'NotoSans Light';
}

.price {
    color: #E13637;
}

.summarySmallDisclaimer {
    font-family: 'NotoSans Light';
}

.summaryItemLabel {
    font-family: 'NotoSans Light';
}