.closeIconContainer {
    justify-content: flex-end;
}

.closeIconButton {
    background: white;
    border-radius: 35px!important;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 5px 1px 5px;
}

.opened {
    background: transparent;
    width: 98%!important;
}