@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700;900&family=Poppins:wght@300;400;700;900&display=swap');

/* HEADER */
.flexRow--top-header {
    background: black;
}

.flexRowContent--top-header {
    padding: 3px 0;
    margin: auto;
    background: black;
    justify-content: space-between;
    max-width: 1280px;
}

.flexRowContent--contacto-top {
    margin-left: 20px;
}

.flexRow--header-main {
    background: white;
}

.flexColChild--col-submenu {
    margin: 5px 0;
    display: inline-block;
    width: 370px;

}

.flexCol--col-submenu {
    display: inline-block;
    max-height: 400px;
    max-width: 390px;
    overflow-y: scroll;
}

.flexRow--row-submenu {
    display: contents;
}

.flexRow--top-header-left {
    display: flex;
    align-items: center;
}

.flexRowContent--header-main {
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: auto;
}

.flexRowContent--row-submenu {
    width: max-content;
    max-width: 640px;
    min-width: 480px;
}

.flexCol--col-submenu::-webkit-scrollbar {
    width: 7px;
}

.flexCol--col-submenu::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
    margin-right: 8px;
}

.flexRowContent--flex-row-inspiracion {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.flexRow--flex-row-inspiracion {
    width: 100%;
}

.flexRowContent--top-header-left {
    display: flex;
    align-items: center;
}

/* HOME */
.flexRow--info-home {
    max-width: 1280px;
    margin: auto;
}

.flexRowContent--info-item-home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexRowContent--info-home {
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

.flexRow--categorias {
    margin: auto;
    max-width: 1280px;
}

.flexRow--row-categorias {
    margin-bottom: 15px;
}

.flexRowContent--row-inspiracion {
    display: flex;
    justify-content: center;
}

.flexRow--row-inspiracion {
    width: 95%;
    margin: auto;
}

.flexColChild--row-price-shelf {
    display: flex;
    margin-left: 9px;
    font-family: 'Poppins';
    color: #606060;
    font-size: 13px;
}

.flexRowContent--row-price-shelf {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.flexRow--info-item-home {
    display: flex;
    align-items: center;
}

.flexRowContent--row-categorias {
    display: flex;
    justify-content: center;
}

/* FOOTER */
.flexRowContent--footer-bottom {
    display: flex;
    align-items: center;
}

.flexRow--footer-news {
    border-top: solid 1px #606060;
    border-bottom: solid 1px #606060;
    margin-top: 40px;
}

.flexRowContent--footer-news {
    max-width: 1280px;
    margin: auto;
}

.flexRow--footer-general {
    background: #606060;
}

.flexRowContent--footer-general {
    padding: 60px 0;
    max-width: 1280px;
    margin: auto;
}

.flexRowContent--footer-row-contacto {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.flexRow--row-footer-rrss {
    margin-bottom: 20px;
    margin-left: 1.5rem;
}

.flexRow--footer-general-fila-2 {
    margin-top: 25px;
}

.flexRow--footer-bottom {
    max-width: 1280px;
    margin: auto;
}

.flexRowContent--footer-general-bottom {
    display: flex;
    align-items: center;
}

.flexRowContent--footer-general-fila-2 {
    justify-content: space-evenly;
}

/* PRODUCTO */
.flexRow--row-button {
    margin-top: 20px;
}

.flexRowContent--row-price {
    display: block;
}

.flexRow--row-price {
    margin: 10px 0;
}

.flexCol--product-lef-col {
    margin-left: 40px;
    width: 75%!important;
}

.flexRow--producto-main {
    max-width: 1280px;
    margin: auto;
}

.flexRow--breadcrumb {
    max-width: 1280px;
    margin: auto;
}

.flexRow--especificaciones {
    width: 100%;
    margin: auto;
}

/* MOBILE */
.flexRowContent--main-header-mobile {
    display: flex;
    align-items: center;
}

.flexRowContent--top-header-mobile {
    background: black;
    display: flex;
    justify-content: center;
}

.flexRow--row-general-footer-mobile {
    background: #606060;
    padding: 20px;
}

.flexRowContent--footer-general-bottom-mobile {
    display: flex;
}

.flexRowContent--row-footer-rrss-mobile {
    display: flex;
    margin-left: 1.5rem;
}

/* HOME */
.flexRowContent--row-destacados {
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: auto;
}

.flexRow--row-destacados {
    max-width: 1280px;
    margin: auto;
    padding: 0 15px;
}

.flexRow--row-inspiracion {
    max-width: 1280px;
    margin: auto;
    padding: 0 20px;
}

.flexCol--search-result-filtros {
    min-width: 225px;
}

.flexRowContent--row--glosario {
    border-bottom: solid 1px;
}