.link:hover {
    color: #C90512;
}

/* HEADER */
.paragraph--contacto-top {
    margin: 0;
    margin-left: 5px;
    font-size: 12px;
}

.link--contacto-top {
    text-decoration: none;
    font-size: 10px;
    color: white;
    font-family: 'NotoSans Light';
}

.paragraph--visualizador-top {
    font-size: 9px;
    color: white;
    font-family: 'NotoSans Light';
}

.paragraph {
    font-family: 'NotoSans Light';
}

.link--visualizador-top {
    font-size: 9px;
    color: white;
    font-family: 'NotoSans Light';
}

/* HOME */
.container--titulo-shelf {
    max-width: 1280px;
    margin: auto;
    padding: 0 20px;
}

.paragraph--info-1, .paragraph--info-2, .paragraph--info-3, .paragraph--info-4 {
    font-family: 'NotoSans Light';
    font-size: 14px;
}

.paragraph--info {
    font-family: 'NotoSans Light';
    font-size: 14px;
}

.paragraph--titulo-shelf {
    font-family: 'Poppins Bold';
    font-size: 19px;
    color: black;
}

.paragraph--titulo-shelf::after {
    border-bottom: solid 4px red;
    width: 75px;
    content: "";
    display: block;
}

.strong--titulo-sale {
    font-size: 30px;
    color: black;
    font-family: 'Poppins';
}

.paragraph--titulo-sale {
    font-family: 'Poppins';
    font-size: 13px;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
}

.link--sale-ver-mas {
    text-decoration: underline;
    color: black;
    font-family: 'NotoSans Light';
    font-size: 17px;
}

.container--sale-ver-mas {
    max-width: 1280px;
    margin: auto;
}

.container--titulo-sale {
    margin-top: 40px!important;
    max-width: 1280px;
    margin: auto;
}

/* FOOTER */
.strong--footer-newsletter-text {
    font-family: 'NotoSans Light';
    font-size: 30px;
    color: black;
}

.paragraph--footer-newsletter-text {
    margin: 0;
}

.paragraph--footer-newsletter-text {
    font-family: 'NotoSans Light';
    color: #606060;
    font-size: 15px;
}

.paragraph--titulo-footer {
    margin-left: 1.5rem;
    color: white;
    font-family: 'Poppins Bold';
    font-size: 13px;
    letter-spacing: 1px;
}

.link--footer-contacto {
    color: #dad9d9;
    font-family: 'NotoSans Light';
    font-size: 10px;
    margin-left: 8px;
    text-decoration: none;
}

.paragraph--footer-contacto {
    margin: 0;
}

/* MOBILE */
.wrapper--footer-newsletter-text-mobile {
    text-align: center;
    width: 95%;
}

.strong--footer-newsletter-text-mobile {
    font-family: 'Poppins Bold';
    font-size: 25px;
}

.paragraph--footer-newsletter-text-mobile {
    font-family: 'NotoSans Light';
    margin-bottom: 0;
}

.wrapper--contacto-top-mobile {
    color: white;
}

/* PRODUCTO */
.container--titulo-shipping {
    margin-top: 20px;
}

.wrapper--glosario-titulo, .wrapper--glosario {
    margin: auto;
}

.paragraph--glosario-button {
    border: solid 1px;
    padding: 5px;
    cursor: pointer;
}