.minicartQuantityBadgeDefault {
    background: #C90512;
}

.cartIcon {
    color: black;
}

.minicartTitle {
    font-family: 'Poppins Light';
    color: black;
    text-transform: uppercase;
    font-size: 20px;
}