@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.profileIcon {
    color: black;
}

.formTitle {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
}