@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.product-identifier {
    color: #606060;
    font-family: 'Noto Sans JP';
    font-weight: 200;
    font-size: 13px;
}

:global(.vtex-product-identifier-0-x-product-identifier__label) {
    visibility: hidden;
}

:global(.vtex-product-identifier-0-x-product-identifier__label)::before {
    visibility: visible;
    content: "CÓDIGO ";
    margin-right: -65px;
}