.searchResultContainer {
    max-width: 1280px;
    margin: auto;
}

.notFound--layout {
    max-width: 1280px;
    margin: auto;
}

.galleryTitle--layout {
    text-align: center;
    font-family: 'NotoSans Light';
    font-size: 28px;
}

.selectedCategoryName {
    color: #C90512;
    font-family: 'NotoSans Light';
}

.filterTitle {
    font-family: 'NotoSans Light';
    font-size: 14px;
}

.categoryItemName {
    font-family: 'NotoSans Light';
    font-size: 15px;
}

.filterMessage {
    font-family: 'NotoSans Light';
}

.totalProducts--layout {
    font-family: 'Poppins Regular';
}

.filterPopupTitle {
    font-family: 'NotoSans Light';
}

.categoryItemChildren {
    font-family: 'NotoSans Light';
    font-size: 13px;
}