@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.container--shelf-destacados, .title--shelf-sale {
    padding-bottom: 5px;
    padding-top: 0;
}

.title--shelf-destacados, .title--shelf-destacados-mobile {
    padding: 0;
}

.container--shelf-destacados-mobile {
    margin-left: 1%;
}

.slide--shelf-destacados-mobile {
    padding: 5px;
}

.slide--shelf-destacados {
    padding: 22px;
    padding-top: 0;
    padding-bottom: 5px;
}

.slide--shelf-sale {
    padding: 5px;
}

.container--shelf-sale {
    max-width: 1280px;
    margin: auto;
    padding-bottom: 0;
}

.caretIcon--shelf-sale {
    color: #000;
    padding: 6px;
    border-radius: 20px;
}

.arrowLeft--shelf-sale {
    margin-left: -11px;
}

.arrowRight--shelf-sale {
    margin-right: -11px;
}

.relatedProducts--shelf-relacionados {
    margin-bottom: 50px;
    max-width: 1280px;
    margin: auto;
}

.title--shelf-relacionados {
    color: black;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
}

.slide--shelf-relacionados {
    margin-right: 15px;
}

.dot--isActive--shelf-relacionados {
    display: none;
}

.sliderContainer--shelf-relacionados {
    height: 100%;
}