/* HEADER */
.imageElement--image-top-header {
    margin-left: 10px;
}

/* HOME */
.imageElement--image-info {
    margin-right: 8px;
}

.imageElement--imagen-inspiracion {
    margin-bottom: -4px;
}

.imageElementLink--imagen-marcas {
    margin: auto;
    display: table;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 1280px;
}

.infoCardContainer--info-card-showroom {
    margin-top: 40px!important;
    margin-bottom: 40px!important;
    max-width: 1280px;
    margin: auto;
}

.infoCardHeadline--info-card-showroom {
    font-family: 'Poppins Light';
    color: black;
    letter-spacing: 2px;
    font-size: 34px;
}

.infoCardSubhead--info-card-showroom {
    font-family: 'Poppins';
    color: black;
    font-size: 17px;
    width: 75%;
}

.price_sellingPrice--product-price-vitrina {
    padding: 0;
    font-family: 'Poppins Bold';
    font-size: 17px;
    color: black;
}

.discountInsideContainer {
    font-family: 'Poppins';
    background: #C90512;
    position: absolute;
    left: 0px;
    top: 15px;
    right: 78%;
    transform: rotate(270deg);
}

.imageElementLink--footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageElementLink--footer-partner {
    margin-right: 10px;
}

.imageElementLink--footer-rrss {
    margin-right: 10px;
}

.imageElementLink--imagen-contacto {
    align-items: center;
    display: flex;
}

.infoCardImageContainer--info-card-showroom {
    margin-top: 20px;
}

.imageElementLink--imagen-categoria {
    display: flex;
    justify-content: center;
}

/* PRODUCTO */
.price_sellingPrice--product-price {
    padding: 0;
    display: flex;
}

.currencyContainer--product-price {
    font-family: 'Poppins Bold';
    color: black;
    font-size: 27px;
}

.productDescriptionTitle {
    display: none;
}

.productBrandName--marca-product {
    color: #d8d7d5;
    letter-spacing: 0.5px;
    font-family: 'Poppins Light';
    font-size: 22px;
}

.productBrandContainer--marca-product {
    margin-bottom: 10px;
}

.productBrand--product-name {
    font-family: 'Poppins';
    font-size: 24px;
    line-height: 33px;
    border-bottom: solid #C90512;
}

.productNameContainer--product-name {
    margin-bottom: 30px;
}

.product-identifier--productReference {
    font-family: 'Poppins';
    font-size: 12px;
    color: #606060;
}

.productDescriptionContainer {
    margin-top: 10px;
    margin-bottom: 20px;
}

.productDescriptionText {
    color: black;
    font-family: 'Poppins';
    font-size: 13px;
}

.carouselContainer--image-producto {
    border: solid 1px;
}

.shippingContainer {
    border-top: solid 2px;
    border-bottom: solid 2px;
    padding: 20px 0;
    width: 70%;
}

.showMoreButton--specifications-product {
    color: #C90512;
    background: none;
    border: solid 1px black;
    padding: 4px;
    font-size: 13px;
    font-family: 'Poppins Light';
}

.specificationsTableContainer--specifications-product {
    padding: 0;
    margin-top: 50px;
    color: black;
}

.specificationsTablePropertyHeading--specifications-product, .specificationsTableSpecificationHeading--specifications-product {
    color: black;
    font-family: 'NotoSans Bold';
    font-size: 14px;
    border: none;
}

.specificationsTableRow--specifications-product {
    border-bottom: solid 1px black!important;
    display: flex;
    font-family: 'NotoSans Regular';
    font-size: 14px;
}

.specificationsTitle--specifications-product {
    font-family: 'Poppins Bold';
    font-size: 16px;
}

.container--specifications-product {
    border-top: solid 1px black;
}

/* HEADER */
.searchBarInnerContainer--search-desktop {
    width: 600px;
}

.imageElementLink--menu-inspiracion {
    margin-left: 13px;
}