@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.caretIcon--slider-home {
    color: white;
}

.caretIcon--slider-home-mobile {
    color: white;
    border-radius: 20px;
    padding: 10px;
    width: 22px;
}

.caretIcon--slider-home {
    width: 20px;
}

.sliderRightArrow--slider-home {
    padding-right: 50px;
}

.sliderLeftArrow--slider-home {
    padding-left: 50px;
}

.paginationDot--slider-home {
    width: 100%!important;
    padding: 0!important;
    margin: 0!important;
    border-radius: 0;
    background: transparent;
    transition: 0.3s;
}

.paginationDot--slider-home--isActive {
    background: #C90512;
    transition: 0.3s;
}

.paginationDotsContainer--slider-home {
    width: 100%;
    bottom: 4px;
}

/* MOBILE */
.paginationDotsContainer--slider-home-mobile {
    bottom: 20px;
}

.paginationDot--slider-home-mobile--isActive {
    background: transparent;
    border: solid 1px white;
}